body{
background-image: url("../images/backgrounds/landing.jpg");
background-repeat: no-repeat;
  padding-bottom: 2000px;
}

.logo{
  padding-left: 430px;
  padding-top: 110px;
}
h1{
  color: white;
  font-family: 'ariel', serif:

}
