body{
background-image: url("../images/backgrounds/landing.jpg");
background-repeat: no-repeat;
  padding-bottom: 2000px;
}

.logo{
  padding-left: 430px;
  padding-top: 110px;
}
h1{
  color: white;
 font-family: "Times New Roman", Times, serif;
 text-align: center;

}

p{
  font-size: 20px;
  font-family: fantasy;
}
.breakfast{
  background-image: url("../images/foodtop/breakfast.jpg");
  background-size: cover;

}

.lunch{
  background-image: url("../images/foodtop/lunch.jpg");
  background-size: cover;
}
.dinner{
  background-image: url("../images/foodtop/dinner.jpg");
  background-image:linear-gradient(60px);
}
.col-md-3{
  text-align: center;

}
